# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
ENV/
pip-log.txt
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
*.mp4
*.avi
*.mov
*.mkv
*.flv
*.webm

# Node
node_modules/
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Logs
*.log
logs/

# Local environment files
.env
backend/.env
frontend/.env
*.env.local

# Build artifacts
build/
*.apk
APK发布/
APK鍙戝竷/
smoking_yolo_dataset_v2/
backend/storage/location_backup/

# Editor/OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.pt

media_server/media/

ffmpeg-8.0.1-essentials_build/*
!ffmpeg-8.0.1-essentials_build/bin/
ffmpeg-8.0.1-essentials_build/bin/*
!ffmpeg-8.0.1-essentials_build/bin/ffmpeg.exe
backend/static/*
backend/runtime/
backend/storage/backups/*.tar.gz
backend/storage/backups/*.sql.gz
*.bin
camera_serial_qr.png

*.pth
backend/LargeLanguageModel/*"*.pt" 
