aiobotocore
aiohappyeyeballs
aiohttp
aioitertools
aiosignal
alabaster
altair
annotated-doc==0.0.4
annotated-types
anyio
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
async-lru
asyncssh
atomicwrites==1.4.0
attrs
Automat
babel
bcrypt
beautifulsoup4
binaryornot
black
bleach
blinker
bokeh
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
dask-expr
datashader
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
distributed
distro
docstring-to-markdown
docutils
et_xmlfile
evalidate
executing
fastapi==0.127.0
python-multipart
fastjsonschema
filelock
Flask
fonttools
frozendict
frozenlist
fsspec
gitdb
GitPython
gmpy2
greenlet
h11
h5py
HeapDict
holoviews
httpcore
httpx
huggingface-hub==0.36.0
hvplot
hyperlink
idna
imageio
imagesize
imbalanced-learn
importlib_metadata
incremental
inflection
iniconfig
intake
intervaltree
ipykernel
ipython
ipywidgets
isodate==0.7.2
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jellyfish
Jinja2
jinja2-time
jmespath
joblib
json5
jsonschema
jsonschema-specifications
keyring
lazy_loader
lief
linkify-it-py
llvmlite
lmdb
locket
loguru==0.7.3
lxml==5.3.0
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib==3.10.0
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mistune
more-itertools
mpmath
msgpack
multidict
multipledispatch
narwhals
nbclient
nest_asyncio
networkx
nltk
numba
numexpr
numpy
numpydoc
onvif_zeep==0.2.12
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl
overrides
packaging
pandas
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
ply
poyo
prometheus_client
prompt_toolkit
propcache
Protego
protobuf
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycparser
pycryptodome==3.23.0
pyct
pycurl
pydantic
pydantic-settings
pydantic_core
PyDispatcher
pydocstyle
pyerfa
pyflakes
PyGithub
Pygments
PyJWT
PyMySQL==1.1.2
PyNaCl
pyodbc
pyparsing
PyQt5==5.15.10
PyQt5_sip
PyQtWebEngine==5.15.6
PySocks
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
pytoolconfig
pytz
pyuca
pyviz_comms
PyWavelets
pywin32==308
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
QtPy
queuelib
readchar
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339_validator
rfc3986_validator
rich
roman-numerals-py
rope
rpds-py
Rtree
s3fs
safetensors==0.6.2
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
service-identity
setuptools==72.1.0
shellingham
sip
six
sklearn-compat
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
SQLAlchemy
stack-data
starlette==0.50.0
statsmodels
streamlit
superqt
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tokenizers==0.22.1
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
transformers==4.57.1
truststore
Twisted
twisted-iocpsupport
typer
typing_extensions
tzdata
uc-micro-py
ujson
Unidecode
urllib3
uvicorn==0.40.0
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.45.1
widgetsnbextension
win32_setctime==1.2.0
win_inet_pton
wrapt
xarray
xlwings
xyzservices
yapf
yarl
zeep==4.3.2
zict
zipp
zope.interface
