BACKEND_PORT=
BACKEND_HOST=
EZVIZ_BASE_URL=
EZVIZ_APP_KEY=
EZVIZ_APP_SECRET=
VIDEO_STREAM_CACHE_SECONDS=
VIDEO_RECORD_SEGMENT_SECONDS=
FENCE_ALARMS_DISABLED=
AGORA_APP_ID=
AGORA_APP_CERTIFICATE=
AGORA_TOKEN_EXPIRE_SECONDS=
